#heart {
  background: url("../images/heart_spritesheet.png");
  background-position: left;
  background-repeat: no-repeat;
  height: 100px;
  width: 100px;
  cursor: pointer;
  background-size:2900px; //actual background size 2900px
}

#heart:hover
{
  background-position: right; //displaying last heart frame 
}

// animation code
@-webkit-keyframes heartBlast
{
  0% {background-position: left;}
  100% {background-position: right;}
}

@keyframes heartBlast
{
  0% {background-position: left;}
  100% {background-position: right;}
}

.heart-animation
{
  -webkit-animation-name: heartBlast; //webkit broswers
  animation-name: heartBlast;
  -webkit-animation-duration: .8s;
  animation-duration: .8s;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-timing-function: steps(28); //background frames count 28
  animation-timing-function: steps(28);
  background-position: right;
}

.like-me {
  height: 100px;
  position: relative;
}
.like-me p {
  height: 100px;
  line-height: 100px;
  text-align: center;
  margin: 0;
}

.like-me > * {
  display: inline-block;
  float: left;
}

#like-count {
  position: absolute;
  font-family: OpenSans, sans-serif;
  font-weight: bold;
  width: 100px;
  color: #aab8c2;
  text-align: center;
  left: 0;
  bottom: 8px;
}

#like-count.liked {
  color: #e2264d;
}

.pls-like {
  font-family: OpenSans, sans-serif;
  font-size: 1.0rem;
}

.like-footer {
  margin: 0 0 2rem 0;
}

@media (min-width: 760px) {
  font-size: 1.1rem;
}
