table.sourceCode, tr.sourceCode, td.lineNumbers, td.sourceCode, table.sourceCode pre
   { margin: 0; padding: 0; border: 0; vertical-align: baseline; border: none; }
td.lineNumbers { border-right: 1px solid #AAAAAA; text-align: right; color: #AAAAAA; padding-right: 5px; padding-left: 5px; }
td.sourceCode { padding-left: 5px; }
.sourceCode span.al { color: red; font-weight: bold; }
.sourceCode span.bn { color: #40a070; }
.sourceCode span.ch { color: #4070a0; }
.sourceCode span.co { color: #969896; font-style: italic; }
.sourceCode span.dt { color: #e78c45; }
.sourceCode span.dv { color: #40a070; }
.sourceCode span.er { color: red; font-weight: bold; }
.sourceCode span.fl { color: #40a070; }
.sourceCode span.fu { color: #c397d8; }
.sourceCode span.kw { color: #7aa6da; font-weight: bold; }
.sourceCode span.ot { color: #70c0b1; }
.sourceCode span.re { }
.sourceCode span.st { color: #e7c547; }
