<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta  name="keywords" content="$keywords$">
    <meta name="description" content="$description$" />
    <meta name="twitter:card" content="summary">
    <meta name="twitter:description" content="$description$">
    <meta property="og:locale" content="es_US">
    <meta property="og:title" content="$title$">
    <meta property="og:description" content="$description$">
    <title>$title$</title>
    <link rel="stylesheet" href="/css/post-bundle.css" />
  </head>
  <body>
    <header>
      <nav>
        <a href="/" title="Home">
          <img id="home" src="/assets/images/home.svg" alt="Home"></a>
        <a href="../rss/posts.rss" title="RSS feed">
          <img class="icon-rss" src="/assets/images/rss.svg" alt="RSS"></a>
        <a href="https://twitter.com/gaumala987" title="Twitter profile">
          <img class="icon" src="/assets/images/twitter.svg" alt="Twitter"></a>
        <a href="https://github.com/GAumala" title="GitHub profile">
          <img class="icon" src="/assets/images/github.svg" alt="GitHub"></a>
      </nav>
    </header>

    <h1 class="post-title">$title$</h1>
    <div class="date"><span>$date$</span></div>
    <article>
      <section>
        $body$
      </section>
    </article>

    <div class="footer-separator"></div>
    <div id="like-footer"></div>
    <script src="../js/post.js"></script>
  </body>
</html>
