<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>$title$</title>
    <link rel="stylesheet" href="../css/post.css" />
    <link rel="stylesheet" href="../css/heart.css" />
  </head>
  <body>
    <header>
      <nav>
        <a href="https://twitter.com/siegvriel" title="Twitter profile">
          <img id="twitter" src="../images/twitter.svg" alt="Twitter"></a>
        <a href="/" title="Home">
          <img id="home" src="../images/home.svg" alt="Home"></a>
        <a href="https://github.com/GAumala" title="GitHub profile">
          <img id="github" src="../images/github.svg" alt="GitHub"></a>
      </nav>
    </header>

    <h1 class="post-title">$title$</h1>
    <div class="date"><span>$date$</span></div>
    <article>
      <section>
        $body$
      </section>
    </article>

    <div class="footer-separator" ></div>
    <table class="like-footer">
      <tr>
        <td class="like-me">
          <div id="like-count">0</div>
          <div id="heart"></div> 
        </td>
        <td class="pls-like">
          <em>If you liked this post, please hit this like button to show your
          appreciation. Thank you!</em>
        </td>
      </tr>
    </table>
    <script src="../js/post.js"></script>
  </body>
</html>
