<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta  name="keywords" content="$keywords$">
    <meta name="description" content="$description$" />
    <meta name="twitter:card" content="summary">
    <meta name="twitter:description" content="$description$">
    <meta property="og:locale" content="es_US">
    <meta property="og:title" content="$title$">
    <meta property="og:description" content="$description$">
    <title>$title$</title>
    <link rel="stylesheet" href="/css/post-bundle.css" />
    <link rel="stylesheet" href="/css/font-faces.css" />
    <link rel="stylesheet" href="/css/dark.css" />
  </head>
  <body>
    <header>
      $partial("templates/nav.html")$
    </header>

    <h1 class="post-title">$title$</h1>
    <div class="date"><span>$date$</span></div>
    <article>
      <section>
        $body$
      </section>
    </article>

    <div class="footer-separator"></div>
    <div id="like-footer"></div>
  </body>
</html>
